* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #f0f0f0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 3px;
}

.login-box {
  background: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 350px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #0056b3;
}
